body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: azure;
    padding: 50px;
    font-size: 120%;

}

div#content {
    padding: 50px;
    background-color: pink;
    border: solid 1px #333333;
    height: 80vh;
    margin: 10px;
    border: 10px inset red;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

#image1 img {
    float: right;
    border-radius: 20%;
    filter: hue-rotate(90deg);
    filter: drop-shadow(16px 16px 20px purple);
    width: 300px;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
